<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Ressources d'Open Data France - DEMO (en cours de finalisation)</title>
</head>

<body style="background-color: #D7D7D7; padding: 1em;">
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>

  <h2 id="title-demo" class="pt-6 title is-flex is-align-items-center is-justify-content-center has-text-white">
    <p>
      <a href="https://gitlab.com/multi-coop/datami" target="_blank">
        <img src="https://gitlab.com/multi-coop/datami/-/raw/main/public/logo_DATAMI_title.png" alt="logo gitribute" style="height: 50px !important; width: auto !important">
      </a>
    </p>
  </h2>

  <div class="container has-text-dark">
    <div class="content my-6 px-6">
      <p class="is-size-6">
        L'import du widget <code>Datami</code> dans une page html permet d'afficher sur un site tiers des données hébergées sur github, gitlab ou dans un wiki.
      </p>
    <p class="">
      L'import du widget consiste à simplement copier-coller quelques lignes de code dans la page html de votre choix.
    </p>
    <p class="">
      Le widget est paramétrable et il peut être utilisé indistinctement et séparément pour différents jeux de données.
    </p>
    <p class="">
      Le widget est sous licence libre et il n'y a aucun coût ou surcoût dans l'utilisation du widget.
    </p>
    <p class="">
      Plusieurs fonctionnalités sont intégrées au widget Datami : 
      <ul>
        <li class="">
          Filtres de sélection (paramétrables) ;
        </li>
        <li class="">
          Redirection vers le site source depuis les fiches détaillées ;
        </li>
        <li class="">
          Rechargement des données source ;
        </li>
        <li class="">
          Possibilité de télécharger les données au format .tsv ;
        </li>
        <li class="">
          ...et bien plus encore. Plus de d'infos dans la 
          <a href="https://datami-docs.multi.coop" target="_blank" class="is-underlined">
            documentation en ligne.
          </a>
        </li>
      </ul>
    </p>
  </div>

  <div style="background-color: white; margin: 1em;">

    <!-- DATAMI - contribute with GIT ...but without minding it-->
    <!-- An open source widget coded with 🤍  by the tech cooperative multi : https://multi.coop -->

    <!-- DATAMI WIDGET'S HTML BLOCK-->
    <datami-file
      gitfile="https://github.com/multi-coop/gitribute-content-test/blob/main/data/csv/odf/ODF-liste des ressources.csv"
      options='{
        "height": "500px",
        "separator": ",",
        "lockcolumns": true,
        "tagseparator": ",",
        "customfilters": {
          "activate": true,
          "filterfields": [
            "Type",
            "Enjeux politiques",
            "Enjeux Opérationnels",
            "Phase"
          ]
        },
        "schema": {
          "file": "https://github.com/multi-coop/gitribute-content-test/blob/main/data/json/odf/ODF-ressources-schema.json"
        },
        "fields-custom-properties": {
          "file": "https://github.com/multi-coop/gitribute-content-test/blob/main/data/json/odf/ODF-ressources-fields-custom-props.json"
        },
        "customsorting" : {
          "activate": true,
          "sortfields": [
            "Objet",
            "Nom de la ressource"
          ]
        },
        "pagination":{
          "itemsPerPage": 20
        },
        "cardsview": { "activate": true, "default": false },
        "cardsdetail": true,
        "cardssettings": {
          "mini": {
            "Nom de la ressource": {"position": "title"},
            "Objet": {"position": "resume"},
            "Enjeux politiques": {"position": "tags"},
            "Phases": {"position": "tags"}
          },
          "detail": {
            "Nom de la ressource": {"position": "title"},
            "Objet": {"position": "resume"},
            "Enjeux politiques": {"position": "tags"},
            "Phases": {"position": "tags"},
            "Lien vers la ressources": {"position": "links"}
          }
        }
      }' 
      title="ODF - Ressources (export airtable)"
      usertoken=""
      locale="fr"
      debug="false">
    </datami-file>

    <!-- DATAMI WIDGET'S APP.JS SCRIPT -->
    <script src="https://datami-widget.multi.coop/js/app.js" type="text/javascript" defer></script>
  
  </div>

  <p id="page-credits" class="mt-6 has-text-centered has-text-white">
    Un projet numérique en partenariat avec
    <a href="https://www.opendatafrance.net/" target="_blank" class="has-text-white is-underlined">
      Open Data France
    </a>
    <br>
    Codé par la coopérative numérique 
    <a href="https://multi.coop" target="_blank" class="has-text-white is-underlined">
      multi
    </a>
  </p>
  <p id="page-credits" class="my-6 is-flex is-align-items-center is-justify-content-center">
    <a href="https://www.opendatafrance.net/" class="mr-5" target="_blank">
      <img src="https://gitlab.com/multi-coop/gitribute-odf-ressources/-/raw/main/images/odf-logo.svg" alt="logo ODF" style="height: 60px !important; width: auto !important">
    </a>
    <a href="https://multi.coop" class="" target="_blank">
      <img src="https://gitlab.com/multi-coop/gitribute-odf-ressources/-/raw/main/images/multi-logo.png" alt="logo multi" style="height: 50px !important; width: auto !important">
    </a>
  </p>
</body>

</html>
